/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
html {
    height: 100%;
    line-height: 1.5;
}

body {
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100%;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.push-right {
    margin-right: 20px;
}